.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid var(--cl-white);
  background-color: unset;
  transition: 0.3s;
  color: var(--cl-white);
}

.header.scroll {
  background-color: var(--cl-white);
  color: var(--cl-black);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-block: 20px;
}

.header-inner-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-inner-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-inner-langs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-inner-navlink {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: currentColor;
  transition: 0.3s;
}

.header-inner-navlink.active,
.header-inner-navlink:hover,
.header-inner-langs a:hover {
  color: var(--cl-secondary);
}

.header-inner-langs a {
  font-size: 18px;
  line-height: 24px;
  color: currentColor;
  transition: 0.3s;
}
