<header class="header">
  <div class="box header-inner">
    <a href="./index.html" class="logo default">
      <img src="./public/media/logo-white.svg" alt="Logo" />
    </a>
    <div class="header-inner-nav-wrapper">
      <nav class="header-inner-nav">
        <a href="./index.html" class="header-inner-navlink">Главная</a>
        <a href="./pages/tours.html" class="header-inner-navlink">Туры</a>
        <a href="./pages/about.html" class="header-inner-navlink">О нас</a>
        <a href="./pages/contact.html" class="header-inner-navlink">Контакты</a>
      </nav>
      <nav class="header-inner-langs">
        <a href="#">Uz</a>
        <a href="#">Ru</a>
      </nav>
    </div>
  </div>
</header>
